body {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  overflow: scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
#inventory {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #c1c1c1;
}
#name {
  padding: 5px;
  font-family: Arial;
  position: relative;
  left: -50%;
  background-color: #FFFFFF;
}
#inventorybtn {
  top:0;
  right:0;
  position: absolute;
  z-index: 2000;
  background-color: #FFFFFF;
  font-family: Arial;
  padding: 10px;
}
#farm {
  white-space: nowrap;
}
.row {
  margin-top: -4px;
  padding: 0px;
}
.plant {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #b2ffb3;
  border-right: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
}
.plant:hover {
  background-color: #ccffca;
}
.outer {
  position: fixed;
  left: 50%;
  z-index: 1000;
}
.bottom {
  bottom: 0;
}
#seeds {
  min-width: 300px;
  min-height: 75px;
  max-height: 75px;
  position: relative;
  left: -50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background-color: #ffee85;
}
.seed {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid black;
}
.seed:hover {
  background-color: #ffe5b7;
}
.selected {
  background-color: #fff4cd;
}
.quantity {
  position: absolute;
  bottom: 0;
  padding-left: 3px;
  font-family: Arial;
  font-size: 12px;
}
i {
  font-size: 70px;
  position: absolute;
}
